/* Fonte "Roboto" */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Fonte "Roboto Mono" */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* Fonte "New Amsterdan" */
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

:root{
    /* Cores */
    --AzulHeader: #090134;
    --AzulClaro: #48cae4;
    --AmareloClaro: #CEA546;
    --Branco: #F0F3FA;
    /* Fontes */
    --Roboto: "Roboto", sans-serif;
    --RobotoMono:"Roboto Mono", monospace;
    --NewAmsterdan: "New Amsterdam", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--AzulHeader);
    background: var(--AzulHeader) url(../img/backgrounds/headerBG.png) right top no-repeat fixed;
    background-size: cover;
}

header{
    background-color: var(--AzulHeader);
}

.myLogo{
    width: 150px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    width: 250px;
    margin-bottom: 0px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-family: var(--Roboto);
}

/* Footer */

footer{
    background-color: var(--AzulHeader);
    border-top: 5px solid var(--AmareloClaro);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.creator p{
    margin-bottom: 0px;
    color: #fff;
}

.meuEmail:hover {
    text-decoration: underline;
    cursor: pointer;
}

.imgFooter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
}

.imgFooter a{
    text-decoration: none;
}

.imgFooter img{
    width: 50px;
}

/* Botão de voltar ao topo */
.pageUp{
    z-index: 1;
    position: fixed;
    right: -150px;
    bottom: 30px;
    transition: .5s;
}

.pageUp.showButton{
    right: 10px;
}

.pageUp button{
    border: 2px solid var(--AzulHeader);
    border-radius: 50%;
    padding: 0px;
    background-color: var(--AmareloClaro);
    height: 50px;
    width: 50px;
}

.pageUp img{
    width: 100%;
}

@media (max-width: 818px){
    nav a{
        font-size: 0.8em;
    }
    .creator p{
        font-size: 12px;
    }

    .imgFooter img{
        width: 25px;
    }

    .imgFooter{
        justify-content: space-between;
    }
}