.inicio {
    height: 430px;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.inicio-content {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.inicio-content img {
    width: 25%;
}

.inicio-text {
    font-family: var(--Roboto);
    padding-right: 20px;
}

.inicio-text h1,
.inicio-text h2,
.inicio-text h3 {
    margin-bottom: 0px;
}

.inicio-text h1 {
    color: var(--AzulClaro);
    font-size: 3.8em;
}

.inicio-text h2 {
    color: var(--AmareloClaro);
}

.inicio-text h3 {
    color: #fff;
    font-size: 1em;
}

.inicio-text h3 a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.inicio-text h3 a:hover {
    color: var(--AzulClaro);
}

/* Sessão de projetos */
.projetos{
    background-color: #fff;
    border-top: 5px solid var(--AmareloClaro);
    padding: 15px 5px 30px 5px;
}

.projetos>h2{
    text-align: center;
    font-family: var(--Roboto);
    color: var(--AzulHeader);
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* Esconde o conteúdo que ultrapassa o contêiner */
    text-overflow: ellipsis;
    /* Substitui o texto que ultrapassa por reticências */
    -webkit-line-clamp: 3;
    /* Número de linhas desejado */
}

@media(max-width: 767px){
    .card{
        width: 75%;
        margin: auto;
        margin-bottom: 15px;
    }
}