.inicio {
    height: 430px;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.inicio-content {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio-content img {
    width: 25%;
}

.inicio-text {
    font-family: var(--Roboto);
    padding-right: 20px;
}

.inicio-text h1,
.inicio-text h2,
.inicio-text h3 {
    margin-bottom: 0px;
}

.inicio-text h1 {
    color: var(--AzulClaro);
    font-size: 3.8em;
}

.inicio-text h2 {
    color: var(--AmareloClaro);
}

.inicio-text h3 {
    color: #fff;
    font-size: 1em;
}

.inicio-text h3 a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.inicio-text h3 a:hover {
    color: var(--AzulClaro);
}

.sobre,
.projetos {
    background-color: var(--Branco);
    height: min-content;
    margin: auto;
    padding: 20px 20px 50px 20px;
    border-top: 5px solid var(--AmareloClaro);
}

.sobre h2,
.projetos h2 {
    color: var(--AzulHeader);
    text-align: center;
    font-family: var(--Roboto);
    margin-bottom: 20px;
}

.sobre img {
    display: block;
    margin: auto;
    width: 75%;
}

.sobre article {
    font-size: 1.3em;
}

.sobre p {
    text-align: justify;
    text-indent: 30px;
}

.projetos {
    border-bottom: 5px solid var(--AmareloClaro);
}

.card {
    box-shadow: 4px 6px 10px #616161;
}

.testo-Card {
    padding: 5px 10px;
    margin-bottom: 10px;
}

.card-title {
    margin-top: 5px;
    margin-bottom: 0px;
}

.card-text {
    text-align: justify;
    text-indent: 15px;
}

.moreProjects {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mais-projetos {
    color: var(--AzulHeader);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 50%;
}

.mais-projetos img {
    background-color: var(--AzulHeader);
    border-radius: 50%;
    padding: 10px;
    width: 60%;
}

.mais-projetos p {
    font-family: var(--Roboto);
    font-size: 1.5em;
    font-weight: bold;
}

.contatos {
    height: 430px;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

/* Ãrea de contato */
.contatoContent {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contatoContent>img {
    width: 40%;
}

.contatoLinks h2 {
    color: var(--AmareloClaro);
    font-family: var(--Roboto);
}

.contatoArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.contatoButton button {
    width: 300px;
    height: min-content;
    padding: 5px;
    border-radius: 20px;
    border: none;
    box-shadow: 4px 6px 10px #000;
    transition: .3s;
}

.contatoImgArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatoButton img {
    width: 100%;
}

.contatoButtonText {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    color: white;
    font-weight: bold;
}

.githubButton {
    background-color: #000;
}

.githubButton:hover {
    background-color: #2e2e2e;
}

.linkedinButton {
    background-color: #007AB9;
}

.linkedinButton:hover {
    background-color: #009eec;
}

.gmailButton {
    background-color: #F44336;
}

.gmailButton:hover {
    background-color: #ff5347;
}

@media (max-width:818px) {
    .inicio-text {
        padding-left: 20px;
    }

    .inicio-text h1 {
        font-size: 3em;
    }

    .inicio-text h2 {
        font-size: 1.3em;
    }

    .inicio-text h3 {
        color: #fff;
        font-size: 1em;
    }

    .inicio-content img {
        width: 20%;
    }

    .mais-projetos img {
        width: 50%;
    }

    /* Contatos */
    .contatos {
        height: min-content;
        padding: 30px 20px 20px 20px;
        margin-bottom: 5vh;
    }

    .contatoArea {
        height: 200px;
    }

    .contatoButton button {
        width: 190px;
    }

    .contatoButtonText {
        font-size: 1.5em;
    }

    .contatoImgArea {
        padding: 0px 0px 0px 12px;
    }
}

@media (max-width: 767px) {
    .inicio {
        height: 300px;
    }

    .card,
    .projetos h3 {
        width: 90%;
        margin: auto;
    }

    .projetos h3 {
        margin-bottom: 10px;
    }

    .verMaisArea {
        margin-top: 50px;
    }
}