section{
    background-color: var(--Branco);
    width: 95%;
    padding: 20px;
    height: max-content;
    margin: auto;
    border-radius: 20px;
}

.img-project-active{
    background-color: aqua;
    height: min-content;
    width: 100%;
}

.img-project-active img{
    width: 100%;
    
}

.img-project{
    height: 90px;
    padding: 5px 0px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
}

.img-project img{
    width: 30%;
    height: 100%;
    margin: 0px 10px;
    border-radius: 10px;
    transition: .3s;
}

.img-project img:hover{
    transform: scale(1.1);

}

.img-project img.active{
    transform: scale(1.1);
    border: 2px solid var(--AmareloClaro);
}

@media (max-width: 767px){
    .img-project{
    
    }
}